.row-cols-1 {
  text-align: center;
}
.heading {
  text-align: center;
  margin: 100px 50px 50px;
}
.btn {
  border-radius: 15px;
  background-color: white;
  width: 16vw;
  height: 16vw;
  max-height: 310px;
  max-width: 310px;
  margin-top: 12px;
  margin-bottom: 12px;

  @media (max-width: 576px) {
    width: 80vw;
    height: 80vw;
    max-height: none;
    max-width: none;
  }
}
