$light: #f4f3ee !default;
$gray-100: #e5e5e5 !default;
$gray-200: #8d8d8d !default;
$gray-300: #6a6a6a !default;
$gray-400: #463f3a !default;
$gray-500: #262626 !default;
$primary: #c32c72;
$secondary: #fff;
$headings-font-weight: 300;
$navbar-light-active-color: $primary;
$navbar-light-brand-color: $gray-500;
